<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>图书列表</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/webjars/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/layuiadmin/style/admin.css" media="all">
</head>
<body>

<div class="layui-fluid">
    <div class="layui-card">

        <div class="layui-form layui-card-header layuiadmin-card-header-auto">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <input type="text" name="isbn" placeholder="请输入ISBN" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-inline">
                    <input type="text" name="name" placeholder="请输入书名" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-inline">
                    <input type="text" name="author" placeholder="请输入作者" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-inline">
                    <button class="layui-btn icon-btn" lay-submit lay-filter="cms-book-table-search">
                        <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="layui-card-body">

            <script type="text/html" id="cms-book-table-toolbar">
                <div class="layui-btn-container">
                    <button class="layui-btn layui-btn-sm" lay-event="addBook">添加</button>
                    <button class="layui-btn layui-btn-sm" lay-event="modBook">修改</button>
                    <button class="layui-btn layui-btn-sm" lay-event="delBook">删除</button>
                </div>
            </script>

            <table id="cms-book-table" lay-filter="cms-book-table"></table>

            <script type="text/html" id="cms-book-table-tool" lay-filter="cms-book-table-tool">
                <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="lendBook">借阅</a>
            </script>

        </div>
    </div>
</div>

<form class="layui-form" hidden lay-filter="cms-book-form" id="cms-book-form"
      style="padding: 20px 40px 0 0;">
    <div class="layui-form-item" hidden>
        <label class="layui-form-label">ID</label>
        <div class="layui-input-block">
            <input type="text" name="id" placeholder="请输入ID" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">书名</label>
        <div class="layui-input-block">
            <input type="text" name="name" lay-verify="required" placeholder="请输入书名" autocomplete="off"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">ISBN</label>
        <div class="layui-input-block">
            <input type="text" name="isbn" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">出版社</label>
        <div class="layui-input-block">
            <input type="text" name="publisher" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">作者</label>
        <div class="layui-input-block">
            <input type="text" name="author" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">图书类型</label>
        <div class="layui-input-block">
            <input id="type" name="type" style="display: none;">
            <input id="typeName" type="text" name="typeName" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">图书介绍</label>
        <div class="layui-input-block">
            <textarea name="introduction" autocomplete="off" class="layui-textarea"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">书架</label>
        <div class="layui-input-block">
            <input type="text" name="shelf" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">总数</label>
        <div class="layui-input-block">
            <input type="text" name="total" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">剩余数量</label>
        <div class="layui-input-block">
            <input type="text" name="remaining" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item" hidden>
        <label class="layui-form-label">数据版本</label>
        <div class="layui-input-block">
            <input type="text" name="version" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-hide">
        <input type="button" lay-submit lay-filter="cms-book-form-submit" id="cms-book-form-submit" value="确认">
    </div>
</form>

<div id="cms-book-type-tree" hidden></div>

<script src="/js/common.js"></script>
<script src="/webjars/layui/layui.js"></script>
<script>

    layui
        // 全局配置
        .config({
            dir: '/webjars/layui/', // layui.js 所在路径
            base: '/layuiadmin/'    // 拓展模块所在目录
        })

        // 拓展模块
        .extend({
            index: 'lib/index' //主入口模块
        })

        // 加载模块
        .use(['index', 'table', 'tree'], function () {
            var $ = layui.$
            var form = layui.form
            var table = layui.table;

            let tableId = "cms-book-table", tableSelector = "#" + tableId;
            let tableToolId = tableId + "-tool", tableToolSelector = "#" + tableToolId;
            let tableToolbarId = tableId + "-toolbar", tableToolbarSelector = "#" + tableToolbarId;
            let tableSearchId = tableId + "-search", tableSearchSelector = "#" + tableSearchId;

            let formId = "cms-book-form", formSelector = "#" + formId;
            let formSubmitId = formId + "-submit", formSubmitSelector = "#" + formSubmitId;

            let tree = layui.tree;
            let treeId = "cms-book-type-tree", treeSelector = "#" + treeId;

            ajaxSetup(layui);

            // 初始化表格
            table.render({
                elem: tableSelector,
                url: apis.bookList.url,
                page: true,
                toolbar: tableToolbarSelector,
                cellMinWidth: 80,
                defaultToolbar: [],
                cols: [
                    [
                        {type: 'checkbox', fixed: 'left'},
                        {field: 'id', title: 'ID', sort: true, align: 'center'},
                        {field: 'name', title: '书名'},
                        {field: 'isbn', title: 'ISBN'},
                        {field: 'author', title: '作者'},
                        {field: 'type', title: '类型ID', hide: true},
                        {field: 'typeName', title: '类型'},
                        {field: 'total', title: '总数'},
                        {field: 'remaining', title: '剩余'},
                        {field: 'shelf', title: '书架'},
                        {fixed: 'right', title: '操作', toolbar: tableToolSelector, width: 90}
                    ]
                ],
                parseData: function (res) {
                    return {
                        "code": res.error === "00000" ? 0 : res.error, //解析接口状态
                        "msg": res.message,
                        "count": res.total,
                        "data": res.data
                    }
                },
                text: {
                    none: '暂无相关数据'
                }
            });

            // 监听搜索
            form.on('submit(' + tableSearchId + ')', function (data) {
                table.reload(tableId, {
                    where: data.field
                });
            });

            // 头工具栏事件
            table.on('toolbar(' + tableId + ')', function (obj) {
                eventExecute(eventExecutor, obj.event, table.checkStatus(obj.config.id).data);
            });

            // 右侧工具栏
            table.on('tool(' + tableId + ')', function (obj) {
                eventExecute(eventExecutor, obj.event, obj.data);
            });

            $.ajax({
                url: apis.listBookType.url,
                type: apis.listBookType.type,
                async: true,
                success: function (res) {
                    let map = new Map();
                    res.data.forEach(bookType => {
                        bookType.title = bookType.name;
                        bookType.field = 'name';
                        bookType.spread = true;
                        bookType.children = [];
                        map.set(bookType.id, bookType);
                    })

                    let bootTypes = [];
                    map.forEach((bookType, id) => {
                        if (bookType.parentId === 0) {
                            bootTypes.push(bookType);
                        } else {
                            map.get(bookType.parentId).children.push(bookType);
                        }
                    })

                    tree.render({
                        elem: treeSelector,
                        id: treeId,
                        data: bootTypes,
                        dblclick: function (node) {
                            $("#type").val(node.data.id);
                            $("#typeName").val(node.data.name);
                            layer.close(layer.index);
                        }
                    });
                }
            });

            $("#typeName").click(function () {
                layer.open({
                    type: 1,
                    title: '双击选择图书类型',
                    area: '300px;',
                    content: $(treeSelector)
                });
            });

            let eventExecutor = {};
            eventExecutor.addBook = function () {
                layer.open({
                    type: 1,
                    title: '添加图书',
                    content: $(formSelector),
                    area: ['500px', '450px'],
                    btn: ['保存', '取消'],
                    yes: function (index) {
                        // 绑定提交事件
                        layui.form.on("submit(" + formSubmitId + ")", function (event) {
                            let api = apis.addBook;
                            $.ajax({
                                url: api.url,
                                type: api.type,
                                data: event.field,
                                async: false,
                                successExecute: function () {
                                    layer.close(index);
                                    table.reload(tableId);
                                }
                            });
                        });
                        // 触发表单提交
                        $(formSubmitSelector).click();
                    },
                    end: function () {
                        $(formSelector)[0].reset();
                    }
                });
            }
            eventExecutor.modBook = function (dataArray) {
                if (dataArray.length !== 1) {
                    return layer.msg("请选择一条数据");
                }
                let data = {...dataArray[0]};
                form.val(formId, data);
                layer.open({
                    type: 1,
                    title: '修改图书',
                    area: ['500px', '450px'],
                    content: $(formSelector),
                    btn: ['保存', '取消'],
                    yes: function (index) {
                        layui.form.on("submit(" + formSubmitId + ")", function (data) {
                            let api = apis.modBook;
                            $.ajax({
                                url: api.url,
                                type: api.type,
                                data: api.parseData(data.field),
                                dataType: api.dataType,
                                contentType: api.contentType,
                                successExecute: function () {
                                    layer.close(index);
                                    table.reload(tableId);
                                }
                            });
                        });
                        $(formSubmitSelector).click();
                    },
                    end: function () {
                        $(formSelector)[0].reset();
                    }
                });
            }
            eventExecutor.delBook = function (dataArray) {
                if (dataArray.length === 0) {
                    return layer.msg('请选择数据');
                }

                layer.confirm("确定删除吗？", function () {
                    let ids = [];

                    dataArray.forEach(data => ids.push(data.id));

                    $.ajax({
                        url: apis.delBook.url,
                        type: apis.delBook.type,
                        contentType: "application/json;charset=UTF-8",
                        data: JSON.stringify(ids),
                        dataType: "json",
                        successExecute: function () {
                            layer.msg("删除成功");
                            table.reload(tableId);
                        }
                    });
                });
            }
            eventExecutor.lendBook = function (data) {
                layer.confirm("是否借阅该图书", () => {
                    if (data.remaining < 1) {
                        layer.msg("图书库存不足，借阅失败");
                        return;
                    }
                    $.ajax({
                        url: apis.lendBook.url,
                        type: apis.lendBook.type,
                        data: {
                            bookId: data.id,
                        },
                        successExecute: function (res) {
                            layer.msg("借阅成功，请联系管理员领取图书");
                            table.reload(tableId);
                        }
                    })
                });
            }

        });
</script>
</body>
</html>
