<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layuiAdmin 网站用户</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/webjars/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/layuiadmin/style/admin.css" media="all">
</head>
<body>

<div class="layui-fluid">
    <div class="layui-card">

        <div class="layui-form layui-card-header layuiadmin-card-header-auto">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">ISBN</label>
                    <div class="layui-input-block">
                        <input type="text" name="isbn" placeholder="请输入" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">书名</label>
                    <div class="layui-input-block">
                        <input type="text" name="name" placeholder="请输入" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">作者</label>
                    <div class="layui-input-block">
                        <input type="text" name="author" placeholder="请输入" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn layuiadmin-btn-useradmin" lay-submit
                            lay-filter="cms-book-list-table-search">
                        <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="layui-card-body">

            <script type="text/html" id="book-list-table-toolbar">
                <div class="layui-btn-container">
                    <button class="layui-btn layui-btn-sm" lay-event="addBook">添加</button>
                    <button class="layui-btn layui-btn-sm" lay-event="modBook">修改</button>
                    <button class="layui-btn layui-btn-sm" lay-event="delBook">删除</button>
                </div>
            </script>

            <table id="book-list-table" lay-filter="book-list-table"></table>

            <script type="text/html" id="imgTpl">
                <img style="display: inline-block; width: 50%; height: 100%;" src={{ d.avatar }}>
            </script>

        </div>
    </div>
</div>

<script src="/js/common.js"></script>
<script src="/webjars/layui/layui.js"></script>
<script>

    layui
        // 全局配置
        .config({
            dir: '/webjars/layui/', // layui.js 所在路径
            base: '/layuiadmin/'    // 拓展模块所在目录
        })

        // 拓展模块
        .extend({
            index: 'lib/index' //主入口模块
        })

        // 加载模块
        .use(['index', 'table'], function () {
            var $ = layui.$
            var form = layui.form
            var table = layui.table;

            // 初始化表格
            table.render({
                elem: '#book-list-table',
                url: apis.bookList.url,
                page: true,
                toolbar: '#book-list-table-toolbar',
                cellMinWidth: 80,
                cols: [
                    [
                        {type: 'checkbox', fixed: 'left'},
                        {field: 'id', title: 'ID', sort: true, align: 'center'},
                        // {field: "avatar", title: "头像", width: 100, templet: "#imgTpl"},
                        {field: 'name', title: '书名'},
                        {field: 'isbn', title: 'ISBN'},
                        {field: 'author', title: '作者'},
                        {field: 'type', title: '类型'},
                        {field: 'total', title: '总数'},
                        {field: 'remaining', title: '剩余'},
                        {field: 'shelf', title: '书架'},
                    ]
                ],
                parseData: function (res) {
                    return {
                        "code": res.error === "00000" ? 0 : res.error, //解析接口状态
                        "msg": res.message,
                        "count": res.count,
                        "data": res.data
                    }
                },
                text: "对不起，加载出现异常！"
            });

            // 监听搜索
            form.on('submit(cms-book-list-table-search)', function (data) {
                table.reload('book-list-table', {
                    where: data.field
                });
            });

            // 头工具栏事件
            table.on('toolbar(book-list-table)', function (obj) {
                var checkStatus = table.checkStatus(obj.config.id);
                switch (obj.event) {
                    case 'addBook':
                        addBook();
                        break;
                    case 'modBook':
                        modBook();
                        break;
                    case 'delBook':
                        delBook(checkStatus.data);
                        break;
                }
            });

            function addBook() {
                layer.open({
                    type: 2,
                    title: '添加图书',
                    content: pages.bookForm,
                    maxmin: true,
                    area: ['500px', '450px'],
                    btn: ['确定', '取消'],
                    yes: function (index, layero) {
                        var iframeWindow = window['layui-layer-iframe' + index],
                            submitId = 'cms-book-form-submit',
                            submit = layero.find('iframe').contents().find('#' + submitId);

                        iframeWindow.layui.form.on('submit(' + submitId + ')', function (data) {
                            $.ajax({
                                url: apis.addBook.url,
                                type: apis.addBook.type,
                                data: data.field,
                                async: true,
                                success: function (res) {
                                    if (ajaxSuccessCheck(res)) {
                                        table.reload("book-list-table"); //数据刷新
                                        layer.close(index); //关闭弹层
                                    }
                                }
                            });
                        });

                        submit.trigger('click');
                    }
                });
            }

            function modBook() {
                layer.open({
                    title: '修改图书',
                    content: '该功能暂不支持',
                });
            }

            function delBook(checkData) {
                if (checkData.length === 0) {
                    return layer.msg('请选择数据');
                }

                layer.confirm(
                    "确定删除吗？",
                    function () {
                        var ids = [];

                        checkData.forEach(data => {
                            ids.push(data.id);
                        })

                        $.ajax({
                            url: apis.delBook.url,
                            type: apis.delBook.type,
                            contentType: "application/json;charset=UTF-8",
                            data: JSON.stringify(ids),
                            dataType: "json",
                            async: true,
                            success: function (res) {
                                if (ajaxSuccessCheck(res)) {
                                    table.reload("book-list-table");
                                    layer.msg("删除成功");
                                }
                            }
                        });
                    }
                )
            }
        });
</script>
</body>
</html>
