<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>借还管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/webjars/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/layuiadmin/style/admin.css" media="all">
</head>
<body>

<div class="layui-fluid">
    <div class="layui-card">

        <div class="layui-form layui-card-header layuiadmin-card-header-auto">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">借阅人</label>
                    <div class="layui-input-block">
                        <input type="text" name="userId" placeholder="请输入" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">借阅书籍</label>
                    <div class="layui-input-block">
                        <input type="text" name="bookId" placeholder="请输入" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn layuiadmin-btn-useradmin" lay-submit
                            lay-filter="cms-book-lend-table-search">
                        <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="layui-card-body">
            <table id="cms-book-lend-table" lay-filter="cms-book-lend-table"></table>

            <script type="text/html" id="cms-book-lend-table-tool" lay-filter="cms-book-lend-table-tool">
                <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="distributeBook">发放图书</a>
                <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="returnBook">归还图书</a>
            </script>
        </div>
    </div>
</div>

<script src="/js/common.js"></script>
<script src="/webjars/layui/layui.js"></script>
<script>

    layui
        // 全局配置
        .config({
            dir: '/webjars/layui/', // layui.js 所在路径
            base: '/layuiadmin/'    // 拓展模块所在目录
        })

        // 拓展模块
        .extend({
            index: 'lib/index' //主入口模块
        })

        // 加载模块
        .use(['index', 'table'], function () {
            var $ = layui.$
            var form = layui.form
            var table = layui.table;

            var tableId = "cms-book-lend-table",
                tableToolId = tableId + "-tool",
                tableToolSelector = "#" + tableToolId;

            ajaxSetup(layui);

            // 初始化表格
            table.render({
                elem: '#cms-book-lend-table',
                url: apis.listBookLend.url,
                page: true,
                cellMinWidth: 80,
                cols: [
                    [
                        {field: 'id', title: 'ID', sort: true, align: 'center'},
                        {field: 'userId', title: '借阅人', hide: true},
                        {field: 'userName', title: '借阅人'},
                        {field: 'bookId', title: '借阅书籍', hide: true},
                        {field: 'bookName', title: '借阅书籍'},
                        {field: 'state', title: '状态', hide: true},
                        {field: 'stateName', title: '状态'},
                        {fixed: 'right', title: '操作', toolbar: tableToolSelector, width: 180}
                    ]
                ],
                parseData: function (res) {
                    return {
                        "code": res.error === "00000" ? 0 : res.error, //解析接口状态
                        "msg": res.message,
                        "count": res.total,
                        "data": res.data
                    }
                },
                text: "对不起，加载出现异常！"
            });

            // 监听搜索
            form.on('submit(cms-book-lend-table-search)', function (data) {
                table.reload('cms-book-lend-table', {
                    where: data.field
                });
            });
            // 右侧工具栏
            table.on('tool(' + tableId + ')', function (obj) {
                eventExecute(eventExecutor, obj.event, obj.data);
            });
            var eventExecutor = {};
            eventExecutor.distributeBook = function (data) {
                if (data.state !== 0) {
                    layer.open({
                        title: '提示',
                        content: '图书已经发放',
                    });
                    return;
                }
                $.ajax({
                    url: apis.modLendBook.url,
                    type: apis.modLendBook.type,
                    contentType: apis.modLendBook.contentType,
                    dataType: apis.modLendBook.dataType,
                    data: apis.modLendBook.parseData({
                        id: data.id,
                        state: 1
                    }),
                    async: false,
                    successExecute: function (res) {
                        table.reload(tableId);
                    }
                });
            }
            eventExecutor.returnBook = function (data) {
                if (data.state === 2) {
                    layer.open({
                        title: '提示',
                        content: '图书已经归还',
                    });
                    return;
                }
                $.ajax({
                    url: apis.modLendBook.url,
                    type: apis.modLendBook.type,
                    contentType: apis.modLendBook.contentType,
                    dataType: apis.modLendBook.dataType,
                    data: apis.modLendBook.parseData({
                        id: data.id,
                        state: 2
                    }),
                    async: false,
                    successExecute: function (res) {
                        table.reload(tableId);
                    }
                });
            }
        });
</script>
</body>
</html>
