<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>角色列表</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/webjars/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/layuiadmin/style/admin.css" media="all">
</head>
<body>

<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <input type="text" name="name" placeholder="请输入角色名" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-inline">
                    <button class="layui-btn icon-btn" lay-submit lay-filter="cms-system-role-table-search">
                        <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="layui-card-body">

            <script type="text/html" id="cms-system-role-table-toolbar">
                <div class="layui-btn-container">
                    <button class="layui-btn layui-btn-sm" lay-event="addRole">添加</button>
                    <button class="layui-btn layui-btn-sm" lay-event="modRole">修改</button>
                    <button class="layui-btn layui-btn-sm" lay-event="delRole">删除</button>
                </div>
            </script>

            <table id="cms-system-role-table" lay-filter="cms-system-role-table"></table>

            <script type="text/html" id="cms-system-role-table-tool">
                <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="modPermission">分配权限</a>
            </script>

        </div>
    </div>
</div>

<div id="cms-system-permission-tree" hidden></div>

<form class="layui-form" hidden id="cms-system-role-form" lay-filter="cms-system-role-form"
      style="padding: 20px 40px 0 0;">
    <div class="layui-form-item layui-hide">
        <label class="layui-form-label">ID</label>
        <div class="layui-input-block">
            <input type="text" name="id" placeholder="请输入" autocomplete="off"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">角色名</label>
        <div class="layui-input-block">
            <input type="text" name="name" lay-verify="required" placeholder="请输入" autocomplete="off"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">默认角色</label>
        <div class="layui-input-block">
            <input type="radio" name="isDefaultRole" value="true" title="是">
            <input type="radio" name="isDefaultRole" value="false" title="否" checked>
        </div>
    </div>
    <div class="layui-form-item layui-hide">
        <label class="layui-form-label">数据版本</label>
        <div class="layui-input-block">
            <input type="text" name="version" placeholder="请输入" autocomplete="off"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-hide">
        <button class="layui-btn" id="cms-system-role-form-submit" lay-submit lay-filter="cms-system-role-form-submit">
            提交
        </button>
    </div>
</form>

<script src="/js/common.js"></script>
<script src="/webjars/layui/layui.js"></script>
<script>

    layui
        // 全局配置
        .config({
            dir: '/webjars/layui/', // layui.js 所在路径
            base: '/layuiadmin/'    // 拓展模块所在目录
        })

        // 拓展模块
        .extend({
            index: 'lib/index' //主入口模块
        })

        // 加载模块
        .use(['index', 'table', 'tree'], function () {
            var $ = layui.$
            var form = layui.form
            var table = layui.table;
            var tree = layui.tree;

            var tableId = "cms-system-role-table";
            var treeId = "cms-system-permission-tree";
            var treeSelect = "#" + treeId;

            let formId = "cms-system-role-form", formSelector = "#" + formId;
            let formSubmitId = formId + "-submit", formSubmitSelector = "#" + formSubmitId;

            ajaxSetup(layui);

            // 初始化表格
            table.render({
                elem: '#cms-system-role-table',
                url: apis.listRole.url,
                page: true,
                toolbar: '#cms-system-role-table-toolbar',
                cellMinWidth: 80,
                defaultToolbar: [],
                cols: [
                    [
                        {type: 'checkbox', fixed: 'left'},
                        {field: 'id', title: 'ID', sort: true, align: 'center', width: 60},
                        {field: 'name', title: '角色名', width: 110},
                        {
                            field: 'isDefaultRoleShow',
                            title: '默认角色',
                            align: 'center',
                            width: 90,
                            templet: d => d.isDefaultRole ? "是" : "否"
                        },
                        {
                            fixed: 'right',
                            title: '操作',
                            align: 'center',
                            toolbar: '#cms-system-role-table-tool',
                            width: 90
                        }
                    ]
                ],
                parseData: function (res) {
                    return {
                        "code": res.error === "00000" ? 0 : res.error, //解析接口状态
                        "msg": res.message,
                        "count": res.total,
                        "data": res.data
                    }
                },
                text: "对不起，加载出现异常！"
            });

            // 监听搜索
            form.on('submit(cms-system-role-table-search)', function (data) {
                table.reload('cms-system-role-table', {
                    where: data.field
                });
            });

            // 头工具栏事件
            table.on('toolbar(cms-system-role-table)', function (obj) {
                eventExecute(eventExecutor, obj.event, table.checkStatus(obj.config.id).data);
            });
            // 右侧工具栏事件
            table.on('tool(' + tableId + ')', function (obj) {
                eventExecute(eventExecutor, obj.event, obj.data);
            });

            var eventExecutor = {};
            eventExecutor.modPermission = function (data) {
                // 查询角色权限列表
                data.permissionIds = [];
                $.ajax({
                    url: apis.getRolePermission.url.format({id: data.id}),
                    type: apis.getRolePermission.type,
                    successExecute: function (res) {
                        res.data.forEach(rolePermission => {
                            data.permissionIds.push(rolePermission.permissionId);
                        });
                    }
                });
                // 初始化权限列表树
                $.ajax({
                    url: apis.listPermission.url,
                    type: apis.listPermission.type,
                    data: {limit: 1000},
                    successExecute: function (res) {

                        var permissionMap = new Map();
                        res.data.forEach(systemPermission => {
                            systemPermission.title = systemPermission.name;
                            systemPermission.field = 'name';
                            systemPermission.spread = true;
                            systemPermission.children = [];
                            systemPermission.checked = data.permissionIds.includes(systemPermission.id);
                            permissionMap.set(systemPermission.id, systemPermission);
                        });

                        var permissionList = [];
                        permissionMap.forEach((systemPermission, id) => {
                            if (systemPermission.parentId === 0) {
                                permissionList.push(systemPermission);
                            } else {
                                var parentPermission = permissionMap.get(systemPermission.parentId);
                                parentPermission.children.push(systemPermission);
                                /*
                                    layui.tree 组件存在bug，父节点选中，会默认选中所有子节点
                                    因为子节点选中，父节点默认选中，因此子节点选中的情况，将父节点遍历取消选中
                                 */
                                if (systemPermission.checked) {
                                    do {
                                        parentPermission.checked = false;
                                        parentPermission = permissionMap.get(parentPermission.parentId);
                                    } while (parentPermission)
                                }
                            }
                        });

                        tree.render({
                            elem: treeSelect,
                            id: treeId,
                            data: permissionList,
                            showCheckbox: true
                        });
                    },
                });
                // 打开角色列表树
                layer.open({
                    type: 1,
                    title: '分配权限',
                    area: ['260px', '400px'],
                    id: 'systemPermissionTree',
                    content: $(treeSelect),
                    btn: ['保存', '取消'],
                    yes: function (index, layero) {
                        var ids = getCheckedTreeNodeId(tree.getChecked(treeId));
                        // 若未修改，则不提交
                        data.permissionIds.sort();
                        if (data.permissionIds.equals(ids)) {
                            layer.close(index);
                            return;
                        }
                        $.ajax({
                            url: apis.setRolePermission.url.format({id: data.id}),
                            type: apis.setRolePermission.type,
                            data: apis.setRolePermission.parseData(ids),
                            contentType: apis.setRolePermission.contentType,
                            dataType: apis.setRolePermission.dataType,
                            successExecute: function (res) {
                                table.reload(tableId);
                                layer.close(index);
                            }
                        })
                    },
                    end: function () {
                    }
                });
            }
            eventExecutor.addRole = function () {
                layer.open({
                    type: 1,
                    title: '新增角色',
                    area: ['500px', '450px'],
                    content: $(formSelector),
                    btn: ['保存', '取消'],
                    yes: function (index) {
                        layui.form.on("submit(" + formSubmitId + ")", function (data) {
                            $.ajax({
                                url: apis.addRole.url,
                                type: apis.addRole.type,
                                data: apis.addRole.parseData(data.field),
                                contentType: apis.addRole.contentType,
                                dataType: apis.addRole.dataType,
                                async: false,
                                successExecute: function () {
                                    layer.close(index);
                                }
                            });
                        });
                        $(formSubmitSelector).click();
                    },
                    end: function () {
                        $(formSelector)[0].reset();
                    }
                });
            }
            eventExecutor.modRole = function (dataArray) {
                if (dataArray.length !== 1) {
                    return layer.msg("请选择一条数据");
                }
                let data = {...dataArray[0]};
                data.isDefaultRole = data.isDefaultRole.toString();
                form.val(formId, data);
                layer.open({
                    type: 1,
                    title: '修改角色',
                    area: ['500px', '450px'],
                    content: $(formSelector),
                    btn: ['保存', '取消'],
                    yes: function (index) {
                        layui.form.on("submit(" + formSubmitId + ")", function (data) {
                            $.ajax({
                                url: apis.modRole.url,
                                type: apis.modRole.type,
                                data: apis.modRole.parseData(data.field),
                                contentType: apis.modRole.contentType,
                                dataType: apis.modRole.dataType,
                                async: false,
                                successExecute: function () {
                                    layer.close(index);
                                }
                            });
                        });
                        $(formSubmitSelector).click();
                    },
                    end: function () {
                        $(formSelector)[0].reset();
                    }
                });
            }
            eventExecutor.delRole = function (dataArray) {
                if (dataArray.length === 0) {
                    return layer.msg('请选择数据');
                }
                layer.confirm("确定删除吗？", function () {
                    let ids = [];
                    dataArray.forEach(row => ids.push(row.id));

                    let api = apis.delRole;
                    $.ajax({
                        url: api.url,
                        type: api.type,
                        data: api.parseData(ids),
                        dataType: api.dataType,
                        contentType: api.contentType,
                        successExecute: () => {
                            layer.msg("删除成功");
                            table.reload(tableId);
                        }
                    });
                });
            }
        });
</script>
</body>
</html>
