<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>角色列表</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/webjars/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/layuiadmin/style/admin.css" media="all">
</head>
<body>

<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">角色名</label>
                    <div class="layui-input-block">
                        <input type="text" name="name" placeholder="请输入" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn layuiadmin-btn-useradmin" lay-submit
                            lay-filter="cms-system-role-table-search">
                        <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="layui-card-body">

            <script type="text/html" id="cms-system-role-table-toolbar">
                <div class="layui-btn-container">
                    <button class="layui-btn layui-btn-sm" lay-event="addRole">添加</button>
                    <button class="layui-btn layui-btn-sm" lay-event="modRole">修改</button>
                    <button class="layui-btn layui-btn-sm" lay-event="delRole">删除</button>
                </div>
            </script>

            <table id="cms-system-role-table" lay-filter="cms-system-role-table"></table>

            <script type="text/html" id="cms-system-role-table-tool">
                <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="modPermission">分配权限</a>
            </script>

        </div>
    </div>
</div>

<div id="cms-system-permission-tree" hidden></div>

<script src="/js/common.js"></script>
<script src="/webjars/layui/layui.js"></script>
<script>

    layui
        // 全局配置
        .config({
            dir: '/webjars/layui/', // layui.js 所在路径
            base: '/layuiadmin/'    // 拓展模块所在目录
        })

        // 拓展模块
        .extend({
            index: 'lib/index' //主入口模块
        })

        // 加载模块
        .use(['index', 'table', 'tree'], function () {
            var $ = layui.$
            var form = layui.form
            var table = layui.table;
            var tree = layui.tree;

            var tableId = "cms-system-role-table";
            var treeId = "cms-system-permission-tree";
            var treeSelect = "#" + treeId;

            ajaxSetup(layui);

            // 初始化表格
            table.render({
                elem: '#cms-system-role-table',
                url: apis.listRole.url,
                page: true,
                toolbar: '#cms-system-role-table-toolbar',
                cellMinWidth: 80,
                defaultToolbar: [],
                cols: [
                    [
                        {type: 'checkbox', fixed: 'left'},
                        {field: 'id', title: 'ID', sort: true, align: 'center', width: 60},
                        {field: 'name', title: '角色名', width: 110},
                        {fixed: 'right', title: '操作', toolbar: '#cms-system-role-table-tool', width: 90}
                    ]
                ],
                parseData: function (res) {
                    return {
                        "code": res.error === "00000" ? 0 : res.error, //解析接口状态
                        "msg": res.message,
                        "count": res.total,
                        "data": res.data
                    }
                },
                text: "对不起，加载出现异常！"
            });

            // 监听搜索
            form.on('submit(cms-system-role-table-search)', function (data) {
                table.reload('cms-system-role-table', {
                    where: data.field
                });
            });

            // 头工具栏事件
            table.on('toolbar(cms-system-role-table)', function (obj) {
                var method = eventExecutor[obj.event];
                if (method instanceof Function) {
                    method.call(this, table.checkStatus(obj.config.id).data);
                } else {
                    layer.open({
                        title: '暂不支持',
                        content: '该功能暂不支持，请联系开发人员',
                    });
                }
            });
            // 右侧工具栏事件
            table.on('tool(' + tableId + ')', function (obj) {
                var method = eventExecutor[obj.event];
                if (method instanceof Function) {
                    method.call(this, obj.data);
                } else {
                    layer.open({
                        title: '暂不支持',
                        content: '该功能暂不支持，请联系开发人员',
                    });
                }
            });

            var eventExecutor = {};
            eventExecutor.modPermission = function (data) {
                // 查询角色权限列表
                data.permissionIds = [];
                $.ajax({
                    url: apis.getRolePermission.url.format({id: data.id}),
                    type: apis.getRolePermission.type,
                    successExecute: function (res) {
                        res.data.forEach(rolePermission => {
                            data.permissionIds.push(rolePermission.permissionId);
                        });
                    }
                });
                // 初始化权限列表树
                $.ajax({
                    url: apis.listPermission.url,
                    type: apis.listPermission.type,
                    data: {limit: 1000},
                    successExecute: function (res) {

                        var permissionMap = new Map();
                        res.data.forEach(systemPermission => {
                            systemPermission.title = systemPermission.name;
                            systemPermission.field = 'name';
                            systemPermission.spread = true;
                            systemPermission.children = [];
                            systemPermission.checked = data.permissionIds.includes(systemPermission.id);
                            permissionMap.set(systemPermission.id, systemPermission);
                        });

                        var permissionList = [];
                        permissionMap.forEach((systemPermission, id) => {
                            if (systemPermission.parentId === 0) {
                                permissionList.push(systemPermission);
                            } else {
                                var parentPermission = permissionMap.get(systemPermission.parentId);
                                parentPermission.children.push(systemPermission);
                                /*
                                    layui.tree 组件存在bug，父节点选中，会默认选中所有子节点
                                    因为子节点选中，父节点默认选中，因此子节点选中的情况，将父节点遍历取消选中
                                 */
                                if (systemPermission.checked) {
                                    do {
                                        parentPermission.checked = false;
                                        parentPermission = permissionMap.get(parentPermission.parentId);
                                    } while (parentPermission)
                                }
                            }
                        });

                        tree.render({
                            elem: treeSelect,
                            id: treeId,
                            data: permissionList,
                            showCheckbox: true
                        });
                    },
                });
                // 打开角色列表树
                layer.open({
                    type: 1,
                    title: '分配权限',
                    area: ['2600px', '400px'],
                    id: 'systemPermissionTree',
                    content: $(treeSelect),
                    btn: ['保存', '取消'],
                    yes: function (index, layero) {
                        var ids = getCheckedTreeNodeId(tree.getChecked(treeId));
                        // 若未修改，则不提交
                        data.permissionIds.sort();
                        if (data.permissionIds.equals(ids)) {
                            layer.close(index);
                            return;
                        }
                        $.ajax({
                            url: apis.setRolePermission.url.format({id: data.id}),
                            type: apis.setRolePermission.type,
                            data: apis.setRolePermission.parseData(ids),
                            contentType: apis.setRolePermission.contentType,
                            dataType: apis.setRolePermission.dataType,
                            successExecute: function (res) {
                                table.reload(tableId);
                                layer.close(index);
                            }
                        })
                    },
                    end: function () {
                    }
                });
            }
        });
</script>
</body>
</html>
